.titolo {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:150px;
    padding:10px;
    border:solid black 1px;
}
.immagine{
    height: 200px;
    width: 200px;
}
.description{
    font-size: 15px;
    overflow-y: scroll;
    text-align: left;
    height:150px;
    padding:10px;
    box-sizing: border-box;
    border:solid black 1px;
}
.description {
    overflow-y: auto;
    box-sizing: border-box;

    /* Firefox 
    scrollbar-width: thin;
    scrollbar-color: #00ff95 #f1f1f1;*/
}
.description .det{
    border: none;
}
/* WebKit browsers */
.description::-webkit-scrollbar {
    width: 8px;
}

.description::-webkit-scrollbar-track {
    background: #f1f1f1;
    /*border-radius: 10px;*/
}

.description::-webkit-scrollbar-thumb {
    background: #b8b3b3;
    border-radius: 10px;
}

.description::-webkit-scrollbar-thumb:hover {
    background: #146946;
}


.price{
    color:rgb(0, 255, 149);
}
.star-rate{
    display: flex;
    justify-content: center;
}

.cardContainer{
    text-align: center;
}