.link:global(.active){
    color:red;
}
.link{
    color:white;
    text-decoration: none;
}
nav{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
    padding-right:20px;
    background-color: #333;
}